@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Common Styles */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color, #939597);
  margin: 0;
  padding: 6.125rem 0 0;
  user-select: none;
}

/* Header */
header {
  background-color: var(--header-bg, #ff0000);
  padding: 1rem 2rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

/* Profile Picture */
.Pfp {
  width: 48rem;
  height: 48rem;
  border-radius: 1.25rem;
  border: 0.313rem solid #ff0000;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  margin: -10rem auto 0;
  display: block;
  object-fit: cover;
}

/* Logo */
.logo {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(2%, 5%);
}

/* Navigation Links */
.nav-links {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  gap: 1rem;
}

.nav-links li {
  margin: 0 15px;
}

.nav-link.active,
.nav-link:hover {
  color: rgb(30, 4, 4);
}

/* Sidebar Icons */
.side-bar.icon {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 0.625rem;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: baseline;
}
.jiji {
  color: #ffffff; /* Corrected color value */
  transition: transform 0.2s ease; /* Removed the RGB color value */
}

.jiji:hover {
  transform: scale(1.1);
  color: #f74242;
}


/* .side-bar.icon img {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  transition: transform 0.2s ease;
}

.side-bar.icon:hover img {
  transform: scale(1.1);
} */

/* Tooltips */
.tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #800000;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.side-bar.icon:hover .tooltip {
  opacity: 1;
}

/* Active Sidebar */
.side-bar.icon:hover {
  background-color: #800000;
}

.side-bar.active {
  background-color: #800000;
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .side-bar.icon.active {
  background-color: #11ed8d;
  border-left: 3px solid #23c04a;
} */

/* Styling for sections */
/* .section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #19b211;
} */

/* CV Download Section */
.cv-download {
  margin-top: 20px;
  text-align: center;
}

.cv-download a {
  display: inline-block;
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}

.cv-download a:hover {
  background-color: black;
}

.cv-download img {
  vertical-align: middle;
  margin-right: 5px;
}

/* Footer */
.footer {
  background-color: var(--footer-bg, #ff0000);
  color: #fff;
  padding: 2rem;
  font-size: 16px;
}

/* Contact Section */
.contact {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contact-left {
  flex: 1;
  /* flex: 1 1 40rem;
  padding: 60px;
  margin-bottom: 15%; */
}

.try {
  margin-bottom: 20px;
  font-size: 5rem;
  color: var(--text-color, #333);
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.really {
  text-align: left;
  font-size: 2.5rem;
  color: var(--text-color, black);
  margin-top: -20px;
  font-weight: bolder;
}

.contact-icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contact-info p {
  color: var(--text-color, #000000);
  font-size: 2rem;
}

.social-icon {
  color: var(--social-icon, #000000);
  margin-right: 15px;
  transition: transform 0.2s ease-in-out;
  width: 50px;
  height: 50px;
}


.social-icon:hover {
  transform: scale(1.2);
}

.new {
  vertical-align: middle;
  margin-right: 20px;
}

.footer-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
  color: #ccc;
}

/* Introduction Section */
.intro {
  position: absolute;
  /* top: 40%; */
  width: 100%;
  max-width: 100%;
}

.intro h1 {
  font-size: 3em;
  font-weight: 300;
  counter-reset: red;
}

#home {
  background-image: url("./images/bg1.jpeg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

#home .intro {
  margin-top: 20px;
}

.intro.text-center p {
  font-size: 2rem;
  margin-top: -35px;
}

.intro.text-center h1 {
  font-size: 50px;
  margin-top: -5px;
}

/* About Section */
.about {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.about .about-content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.about .me {
  flex: 1 1 40rem;
}

.about .me img {
  height: 50%;
  width: 75%;
  padding: 1rem;
  animation: float 3s linear infinite;
  border-radius: 100%;
  border: 5px solid #ff0000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.about .demo {
  font-size: 5rem;
  text-align: center;
  padding: 0;
}

.about .about-content {
  font-size: 2rem;
  color: var(--text-color, #333);
  padding: 1rem 5rem 0rem 5rem;
  text-align: justify;
}

/* Heading Styles */
h2 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--text-color, #333);
  margin-top: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* Skill Section */
.skill {
  transform: scale(0.8);
  animation: scaleAnimation 1s ease-out forwards;
}

@keyframes scaleAnimation {
  to {
    transform: scale(1);
  }
}

#skills {
  background-color: var(--skills-color, #fff);
  padding: 60px 0;
  text-align: center;
  display: block;
  position: relative;
}

.skills-header {
  letter-spacing: 2px;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: transform 0.5s ease-in-out;
}

.skill {
  width: 45%;
  padding: 20px;
  margin-bottom: 30px;
  background-color: var(--grey-color, #fff);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
}

.skill h3 {
  color: #333;
  font-size: 1.8rem;
}

.skill p {
  color: #666;
  font-size: 1.4rem;
  margin-top: 10px;
}

.skill-rating {
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: #41caca;
  width: 0;
  transition: width 1s;
}

.fill-web-dev {
  width: 70%;
}

.fill-prog-lang {
  width: 40%;
}

.fill-db-mgmt {
  width: 20%;
}

.fill-efficiency {
  width: 90%;
}

/* Certificates Section */
#certificates {
  background: url(./images/bg2.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.fix {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
  animation: shakeAnimation 15s infinite;
}

.certificate-card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.certificate-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.certificate-card img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0 0;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

.certificate-card:hover .frame {
  border-color: #ff0000;
}

.certificate-details {
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 10px 10px;
}

.certificate-card:hover .certificate-details {
  opacity: 1;
}
.container-form {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
  color: var(--text-color, #000000);
  padding-top: 30px;
}
/* Container */
.container {
  flex: 1;
  padding: 10px;
  margin: 20px;
  background-color: black;
  color: var(--text-color, #000000);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
  /* width: 100%;
  height: auto; */ 
}
.container:hover {
  transform: scale(1.05);
}

/* Input and Textarea Styles */
input:hover,
textarea:hover {
  background-color: #8d8a8a;
}

/* Placeholder Styles */
input::placeholder,
textarea::placeholder {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

input,
textarea {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 2rem;
  width: 93%;
  /* height: 140%; */
}

textarea {
  height: auto;
}

/* Submit Button Styles */
.submit-button {
  width: 100%;
  height: 40px;
  font-size: 2.25rem;
  background-color: black;
  color: #ff0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  /* position: relative; */
  outline: 2px solid #ff0000;
  overflow: hidden;
  /* margin-top: 20px; */
  padding: 10px 20px;
}

.submit-button:hover {
  background-color: #ff0000;
  color: black;
  font-size: 20px;
}

/* Dark Mode Toggle */
#darkModeToggle {
  background: #41caca;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

#darkModeToggle:hover {
  background-color: #939597;
}

.icon {
  opacity: 1;
}

.icon.hidden {
  opacity: 0;
}

.toggle-button {
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: 2px solid #939597;
  margin: 10px;
}

.toggle-circle {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  background-color: #ffff;
}

.dark-mode .toggle-circle {
  left: calc(100% - 38px);
}

.toggle-button:hover .toggle-circle {
  transform: translateY(-50%) scale(1.2);
}

.toggle-button.active .toggle-circle {
  transform: translateX(50%);
}

/* Dark Mode Styling */
.dark-mode {
  --bg-color: #330000;
  --text-color: #fff;
  --header-bg: #440000;
  --footer-bg: #440000;
  --skills-color: #550000;
  --social-icon:#41caca;
}
/* .burger{
  display: none;
} */
@media (max-width: 280px) {
  h2 {
    font-size: 8px;
  }

  .fix {
    font-size: 4rem;
  }

  .sus {
    display: none;
  }
  header{
    font-size: 8px;
  }

  .logo {
    font-size: xx-small;
    /* margin: 0; */
    /* font-size: 8px;
    position: fixed;
    right: 50px;
    top: -50px;
    display: inline; */
    /* display: inline;
    padding: 0;
    justify-content: left; */
  }

  .intro.text-center h1 {
    font-size: 40px;
  }

  .contact-icons {
    display: inline-block;
    margin-left: 40px;
  }

  .jiji {
    font-size: 8px;
  }

  input,
  textarea {
    margin: 10px;
    padding: 5px;
  }
}


@media (max-width: 540px) {
  body {
    width: 100%;
    height: auto;
    font-size: 16px;
  }
  header {
    padding: 10px 0; /* Reduce header padding */
    /* align-items: center; */
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  .nav ul {
    flex-direction: row; /* Stack navigation links vertically */
    align-items: center; /* Center align navigation items */
    margin-top: 10px;
    justify-content: center;
    font-size: 16px;
  }


  .logo {
    margin: 10px; /* Add spacing below the logo */
    margin-left: 25px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 15px;
  }
  
  #darkModeToggle {
    position: fixed;
    top: -2.5px;
    right: 10px; /* Move the button to the top right */
  }
  #darkModeToggle {
    max-width: none; /* Remove maximum width */
  }
  #darkModeToggle {
    padding: 8px; /* Reduce padding */
  }
  .toggle-button {
    height: 30px; /* Adjust button height */
  }
  .toggle-circle {
    width: 26px; /* Adjust circle size */
    height: 26px; /* Adjust circle size */
  }
  .dark-mode .toggle-circle {
    left: calc(100% - 28px); /* Adjust circle position */
  }

  /* .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-direction: row;
    .nav-links li a {
    text-align: center;  Center align navigation text 
    padding: 5px 0; /* Add padding to navigation links 
    border-top: 1px solid #ffffff; /* Add a separator between navigation links */
  

  /* .jiji{
    font{
      font-size: 16px;
    }
  } */
  .Pfp {
    width: 200px;
    height: 200px;
    margin-top: -5rem;
  }

  .intro {
    top: 30%;
  }
  .skill {
    padding: 0.75rem; /* Adjust padding for even smaller screens */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust box shadow for smaller screens */
  }
  /* Adjust certificates section */
  #certificates {
    padding: 20px 0; /* Add padding to the section */
  }

  .certificates-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center; /* Center-align cards horizontally */
    gap: 20px; /* Add spacing between certificate cards */
  }

  .certificate-card {
    width: calc(
      50% - 10px
    ); /* Set width for two cards side by side with spacing */
    max-width: 300px; /* Set a maximum width for the cards */
  }

  .certificate-card img {
    max-width: 100%; /* Set maximum width for the images */
    height: auto; /* Maintain aspect ratio */
  }

  .certificate-details {
    text-align: center; /* Center-align certificate details */
    margin-top: 10px; /* Add spacing above certificate details */
  }
  .contact-info p {
    font-size: 16px;
  }
  .contact {
    flex-direction: column;
  }
  .contact-left,
  .contact-right {
    width: 100%;
    /* padding: 0; */
  }
  .contact-left {
    padding-bottom: 10px;
  }
  .contact-right {
    padding-top: 10px;
  }
  input,
  textarea {
    width: 85%;
  }
  /* Increase the size of FontAwesome icons */
.contact-icons i {
  font-size: 3rem; /* Adjust the size as needed */
}
}


@media (max-width: 640px) {
  .certificate-card {
    width: calc(
      40% - 10px
    ); /* Set width for two cards side by side with spacing */
    max-width: 300px; /* Set a maximum width for the cards */
  }
  .contact{
    flex-direction: column;
  }
  .contact-left {
    padding-bottom: 10px;
  }
  .contact-right {
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  input,
  textarea {
    width: 83%;
  }

    /* Show the navigation links when the burger icon is clicked */
    .nav-links.active {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: flex-end; */
    }
  .icon{
    font-size: 5px;
    margin-top: 20px;
  }
  #sunIcon{
    margin-bottom: 20px;
  }
  #moonIcon{
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  input,
  textarea {
    width: 86%;
  }
  .jiji{
    font-size: 3rem;
  }
  .logo{
    font-size: 25px;
    margin-bottom: 20px;
    padding: 10px;
  }
  #home{
    padding-top: 100px;
  }
  .fix{
    margin-bottom: 20px;
  }
  .certificate-card{
    max-width: 250px;
  } 
}
/* @media (max-width: 1280px) {
} */
/* @media (max-width: 1536px) {
} */